.image{
    padding: 15px;
    display: inline-block;
}
.image:hover{

    transform: translatex(10px);
    box-shadow: 0 0 10px black;
}
.image img{
    width: 250px;
    height: 200px;
padding: 10px;
}

h2{
    text-align: center;
}